# Trust the host-port combinations that you may. Useful reference:
# - `--trusted-host <host>:<port>` trusts the host-port combinations to which
#   you may expose the DSH service via proxy, allowing the exposed service to
#   actually function.
DSH_EXTRA_ARGS=

# Secrets: Scorll to bottom ↓






















































































































































# ======== SECRETS ========
DEEPSEEK_API_KEY=sk-who_cares
